form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.formContainer{
    display: flex;
    width: 50%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
.formContainer form .input-box{
    width: 200%;
}

form > div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
