:root {
  --primary-color: #0077b6; /* Blue */
  --secondary-color: #ffc107; /* Yellow */
  --text-color: #5d001e; /* Dark Gray */
  --background-color: #e3e2df; /* White*/
  --link-color: #0077b6; /* Blue */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
}
.logo{
  font-weight: 700;
  text-decoration: none;
  color: var(--light-bg-color);
  font-size: 3rem;
}


.navbar a {
  font-size: 4rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  text-decoration: none;
  color: var(--secondary-color);
}
.switch {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 40px; /* Increased width */
  height: 24px; /* Increased height */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Increased height */
  width: 16px; /* Increased width */
  left: 2px;
  bottom: 4px; /* Adjusted bottom position */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(29, 128, 210);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(29, 128, 210);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px); /* Adjusted translate value */
  -ms-transform: translateX(18px); /* Adjusted translate value */
  transform: translateX(18px); /* Adjusted translate value */
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
main {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}
.intro {
  display: flex;
  width: 50%;
  align-items: center;
  font-weight: 700;
  justify-content: center;
}
.formContainer{
  display: flex;
  width: 50%;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.formContainer form .input-box{
  width: 200%;
}
.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--primary-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--secondary-color);
  font-size: 1.6rem;
  color: var(--secondary-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: 1s;
 
}
.btn:hover{
  color: var(--background-color);
  background: var(--text-color);
}
footer {
  background: var(--light-bar-color);
  color: var(--light-text-color);
  padding: 15px 4%;
  text-align: center;
}

body.dark-mode {
  background-color: #181616;
  color: #fff;
}

body.dark-mode .header {
  background-color: #2E3532;
}

body.dark-mode footer {
  background-color: #000;
}

body.dark-mode input,
body.dark-mode textarea {
  background-color: #666;
  color: #fff;
}

body.dark-mode input::placeholder,
body.dark-mode textarea::placeholder {
  color: #bbb;
}
